.about{
  padding-top: 20px;
  .me{
    display: block;
    border-radius: 6px;
    box-shadow:
       inset 0 3em 3em rgba(0,0,0,0.1),
             0 0  0 2px $databend-blue,
             0.3em 0.3em 1em rgba(0,0,0,0.2);
    width: 600px;
    @include media{
      width: 95%;
      margin: 0 auto;
    }
  }
  .intro{
    @include box;
    .detail{
      flex: 1;
      padding-left: 20px;
      p{
        text-indent: 2rem;
      }
    }
    .picDe{
      padding-top: 15px;
    }
    @include media{
      .picDe{
        width: 95%;
        margin: 0 auto;
        padding-top: mpx(5);
      }
      flex-direction: column;
      .detail{
        padding-top: mpx(25);
        padding-left: mpx(15);
        padding-right: mpx(15);
      }
    }
  }
  @include media{
    padding-top: mpx(10);
  }
}
