.about{
  padding-top: 20px;
  .me{
    display: block;
    width: 600px;
    @include media{
      width: 95%;
      margin: 0 auto;
    }
  }
  .intro{
    @include box;
    .detail{
      flex: 1;
      padding-left: 20px;
      p{
        text-indent: 2rem;
      }
    }
    @include media{
      .picDe{
        width: 95%;
        margin: 0 auto;
        padding-top: mpx(5);
      }
      flex-direction: column;
      .detail{
        padding-top: mpx(25);
        padding-left: mpx(15);
        padding-right: mpx(15);
      }
    }
  }
  @include media{
    padding-top: mpx(10);
  }
}
